In [13]:
from utils import Utils 
import pandas as pd
utils=Utils()

# BASE JUGADORES

In [14]:
df_jugadores = utils.cargar_csv(f"./Aux_data_Wolrd_cup/WorldCupPlayers.csv")
df_matches = utils.cargar_csv(f"./Aux_data_Wolrd_cup/WorldCupMatches.csv")

In [15]:
df_jugadores

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [16]:
import pandas as pd

def obtener_datos_unicos(df, columnas):
    """
    Filtra un DataFrame para que solo contenga filas únicas basadas en una combinación de columnas.
    
    :param df: DataFrame de pandas.
    :param columnas: Lista de nombres de columnas a considerar para unicidad.
    :return: DataFrame con filas únicas según las columnas especificadas.
    """
    return df.drop_duplicates(subset=columnas)

def combinar_bases(df1, columnas_df1, df2, columnas_df2):
    """
    Une df1 con df2 basado en una clave específica y agrega las columnas únicas de df2 sin duplicar las existentes en df1.
    
    :param df1: Primer DataFrame base.
    :param columnas_df1: Lista de columnas clave en df1.
    :param df2: Segundo DataFrame con información adicional.
    :param columnas_df2: Lista de columnas clave en df2.
    :return: DataFrame combinado con columnas de df2 añadidas sin duplicar las ya existentes en df1.
    """
    # Asegurar que las claves son listas
    if isinstance(columnas_df1, str):
        columnas_df1 = [columnas_df1]
    if isinstance(columnas_df2, str):
        columnas_df2 = [columnas_df2]
    
    # Verificar que las columnas existen en los DataFrames
    for col in columnas_df1:
        if col not in df1.columns:
            raise KeyError(f"La columna {col} no está en df1")
    for col in columnas_df2:
        if col not in df2.columns:
            raise KeyError(f"La columna {col} no está en df2")
    
    # Realizar la unión
    df_comb = df1.merge(df2, left_on=columnas_df1, right_on=columnas_df2, how='left')
    
    # Obtener columnas finales sin duplicados
    columnas_finales = list(df1.columns) + [col for col in df2.columns if col not in columnas_df2 and col not in df1.columns]
    
    # Filtrar solo las columnas existentes
    columnas_finales = [col for col in columnas_finales if col in df_comb.columns]
    
    return df_comb[columnas_finales]

def seleccionar_columnas(df, columnas):
    """
    Devuelve un DataFrame con solo las columnas especificadas.
    
    :param df: DataFrame de pandas.
    :param columnas: Lista de nombres de columnas a seleccionar.
    :return: DataFrame con solo las columnas especificadas.
    """
    columnas_validas = [col for col in columnas if col in df.columns]
    return df[columnas_validas]

In [17]:
df_jugadores

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [18]:
df_matches

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_players_global = combinar_bases(df_jugadores, ['MatchID'], df_matches, ['MatchID'])
df_players_global = obtener_datos_unicos(df_players_global,['Year','Player Name'])
df_players_global = seleccionar_columnas(df_players_global,['Year','Team Initials','Player Name','Coach Name'])

In [20]:
utils.guardar_excel(df_players_global,'NEW_Mundial_Historic_players')

Archivo guardado como: NEW_Mundial_Historic_players.xlsx

In [21]:
def filtrar_por_valores(df, columna, valores):
    """
    Filtra un DataFrame para que solo contenga filas donde la columna especificada tenga valores en la lista dada.
    
    :param df: DataFrame de pandas.
    :param columna: Nombre de la columna a filtrar.
    :param valores: Lista de valores a mantener en la columna especificada.
    :return: DataFrame filtrado.
    """
    if columna not in df.columns:
        raise KeyError(f"La columna '{columna}' no está en el DataFrame")
    return df[df[columna].isin(valores)]

year=1938
df_players=filtrar_por_valores(df_players_global,'Year',[year])
df_players

        Year Team Initials        Player Name            Coach Name
1389  1938.0           SUI        Willy HUBER     RAPPAN Karl (AUT)
1390  1938.0           GER       Rudolf RAFTL  HERBERGER Sepp (FRG)
1391  1938.0           SUI   Severino MINELLI     RAPPAN Karl (AUT)
1392  1938.0           GER  Willibald SCHMAUS  HERBERGER Sepp (FRG)
1393  1938.0           SUI       Georges AEBY     RAPPAN Karl (AUT)
...      ...           ...                ...                   ...
1882  1938.0           SWE       Erik NILSSON     NAGY Joszef (HUN)
1883  1938.0           SWE    Karl Erik GRAHN     NAGY Joszef (HUN)
1884  1938.0           SWE       Knut HANSSON     NAGY Joszef (HUN)
1885  1938.0           SWE      Lennart BUNKE     NAGY Joszef (HUN)
1886  1938.0           SWE      Ake ANDERSSON     NAGY Joszef (HUN)

[316 rows x 4 columns]

In [ ]:

df_links=utils.buscar_wikipedia_jugadores(df_players,'Player Name',year)

In [ ]:
df_links

,Year,Team Initials,Player Name,Coach Name,wiki_link
687,1934.0,AUT,Peter PLATZER,MEISL Hugo (AUT),https://en.wikipedia.org/wiki/Peter_Platzer
688,1934.0,FRA,Alex THEPOT,KIMPTON George (ENG),https://es.wikipedia.org/wiki/Alex_Th%C3%A9pot
689,1934.0,AUT,Josef SMISTIK,MEISL Hugo (AUT),https://es.wikipedia.org/wiki/Josef_Smistik
690,1934.0,FRA,Fritz KELLER,KIMPTON George (ENG),https://en.wikipedia.org/wiki/Fritz_Keller
691,1934.0,AUT,Toni SCHALL,MEISL Hugo (AUT),https://es.wikipedia.org/wiki/Anton_Schall
...,...,...,...,...,...
1003,1934.0,TCH,Geza KALOCSAY,PETRU Karel (TCH),Error
1004,1934.0,ROU,Adalbert PULLOCK,RADULESCU Constantin (ROU),Error
1005,1934.0,TCH,Jaroslav BOUCEK,PETRU Karel (TCH),Error
1006,1934.0,TCH,Vlastimil KOPECKY,PETRU Karel (TCH),Error
1007,1934.0,TCH,Jaroslav BURGR,PETRU Karel (TCH),Error

In [ ]:

utils.guardar_excel(df_links,f'LINK_PLAYERS_{year}')

Archivo guardado como: LINK_PLAYERS_1934.xlsx